<div class="container text-center">
    <img class="hero" alt="" src="">
    <div>Logo Block</div>
    <p>&nbsp;</p>
    <hr />

    <c-method [icon]="'miru'" [methodSubject]="'參賽說明'">
        <p class="item-text">
            以「智慧場域」為發展概念<br>
            團隊至少使用一項「叡揚」所提供的數位服務(iota C.ai 對話服務平台、Vital CRM、Vital BizForm或Secure Code Warrior)，<br>
            導入應用於校園、企業營運、城市、客服或醫療…等或其他特定場域，開發具有創意及「智慧化」的多元創新應用作品。
        </p>
    </c-method>
    <c-method [icon]="'miru'" [methodSubject]="'加分機制'">
        <p class="item-text">
            若能透過API串接，整合多項「叡揚」的數位服務，<br>
            每整合一項服務(如下所列)，可酌予加分 (至多5%)，<br>
            依此類推，若同時串接整合其他3項服務，至多可加15%。
        </p>
    </c-method>
    <c-method [icon]="'miru'" [methodSubject]="'報名資格'">
        <div class="item-text item-list">
            <ol>
                <li class="text-justify">凡大專校院(含大專生、碩博士生)之在學學生都可參加。</li>
                <li class="text-justify">每隊學生不超過8人，另需有1-2名學校指導老師。</li>
            </ol>
        </div>
    </c-method>   
    <c-method [icon]="'miru'" [methodSubject]="'獎勵方式'">
        <table style="margin-bottom: 36px;">
            <thead>
                <tr>
                    <th>獎項</th>
                    <th>獎金</th>
                    <th>數量</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>第一名</td>
                    <td>新臺幣 <span class="highlight">60,000</span> 元<br>指導老師群：新台幣 <span class="highlight">30,000</span> 元
                    </td>
                    <td class="text-right">1 名</td>
                </tr>
                <tr>
                    <td>第二名</td>
                    <td>新臺幣 <span class="highlight">40,000</span> 元<br>指導老師群：新台幣 <span class="highlight">20,000</span> 元
                    </td>
                    <td class="text-right">1 名</td>
                </tr>
                <tr>
                    <td>第三名</td>
                    <td>新臺幣 <span class="highlight">20,000</span> 元<br>指導老師群：新台幣 <span class="highlight">10,000</span> 元
                    </td>
                    <td class="text-right">1 名</td>
                </tr>
                <tr>
                    <td>創新應用獎</td>
                    <td>新臺幣 <span class="highlight">6,000</span> 元</td>
                    <td class="text-right">1 名</td>
                </tr>
                <tr>
                    <td>技術卓越獎</td>
                    <td>新臺幣 <span class="highlight">6,000</span> 元</td>
                    <td class="text-right">1 名</td>
                </tr>
                <tr>
                    <td>產品貢獻獎</td>
                    <td>新臺幣 <span class="highlight">6,000</span> 元</td>
                    <td class="text-right">1 名</td>
                </tr>
                <tr>
                    <td>台風穩健獎</td>
                    <td>新臺幣 <span class="highlight">2,000</span> 元</td>
                    <td class="text-right">1 名</td>
                </tr>
            </tbody>
        </table>
        
        <div class="item-text item-list">
            <h3>注意事項</h3>
            <ol>
                <li class="text-justify">每一獎項限頒發一組團隊，且不重複得獎。</li>
                <li class="text-justify">未獲前３名之團隊，有機會以決賽評分項目之一的最高分，獲得其他相關獎項。</li>
                <li class="text-justify">產品貢獻獎以有實質整合產品服務的團隊為主(例如，自行開發新的串接API串連產品)，<br>若無得從缺。</li>
            </ol>
        </div>
    </c-method>
    <c-method [icon]="'miru'" [methodSubject]="'相關資源'">        
        <div class="item-text item-list">
            <h3>iota C.ai 對話服務平台(Bot Builder)</h3>
            <ul style="list-style: none;">
                <li class="text-justify">
                    <img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon"/>產品介紹
                    <ul style="list-style: none; margin-top: 12px;">
                        <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon two"/>
                            <a href="https://www.gss.com.tw/product-services-nav/enterprice-e-app/iota#feature" target="_blank">產品特色</a></li>
                        <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon two"/>
                            <a href="https://www.gss.com.tw/product-services-nav/enterprice-e-app/iota#situation" target="_blank">參考使用情境</a></li>
                        <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon two"/>
                            <a href="https://www.gss.com.tw/product-services-nav/enterprice-e-app/iota#success" target="_blank">範例站台</a></li>
                    </ul>
                </li>
                <li class="text-justify">
                    <img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon"/>適用情境
                </li>
                <li class="text-justify">
                    <img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon"/>課程
                </li>
                <li class="text-justify">
                    <img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon"/>試用站台
                </li>
            </ul>
        </div>
        <div class="item-text item-list">
            <h3>Vital CRM</h3>
            <ul style="list-style: none;">
                <li class="text-justify">
                    <img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon"/>產品介紹
                    <ul style="list-style: none; margin-top: 12px;">
                        <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon two"/>
                            <a href="https://www.gsscloud.com/tw/vital-crm#product-features" target="_blank">產品特色</a></li>
                        <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon two"/>
                            <a href="https://www.gsscloud.com/tw/user-story?filter_22=s-vitalcrm&cc=p" target="_blank">參考使用情境</a></li>
                        <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon two"/>
                            <a href="https://www.videgree.com/e8e204d9d1cb4854a27f985aba2f1491/LogOn.mvc?user=sa&pwd=123456" target="_blank">範例站台</a></li>
                    </ul>
                </li>
                <li class="text-justify">
                    <img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon"/>適用情境
                    <ul style="list-style: none; margin-top: 12px;">
                        <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon two"/>
                            與Vital Bizform 整合為例
                            <ul style="list-style: none; margin-top: 12px;">
                                <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon second"/>發出客戶滿意度調查</li>
                                <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon second"/>商機轉合約時，走簽核表單</li>
                            </ul>
                        </li>
                        <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon two"/>
                            與其它系統整合情境
                            <ul style="list-style: none; margin-top: 12px;">
                                <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon second"/>在特定條件下，啟動簽核表單</li>
                                <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon second"/>寄送表單給特定對象，收集填寫結果</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="text-justify">
                    <img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon"/>課程
                </li>
                <li class="text-justify">
                    <img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon"/>
                    <a href="https://www.gsscloud.com/tw/vital-crm/pricing" target="_blank">試用站台申請</a>
                </li>
                <li class="text-justify">
                    <img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon"/>API 文件
                </li>
            </ul>
        </div>
        <div class="item-text item-list">
            <h3>Vital Bizform</h3>
            <ul style="list-style: none;">
                <li class="text-justify">
                    <img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon"/>產品介紹
                    <ul style="list-style: none; margin-top: 12px;">
                        <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon two"/>
                            <a href="https://www.gsscloud.com/tw/vital-bizform#product-features" target="_blank">產品特色</a></li>
                        <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon two"/>
                            <a href="https://www.gsscloud.com/tw/user-story?filter_22=s-vitalbizform&cc=p" target="_blank">參考使用情境</a></li>
                        <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon two"/>
                            <a href="https://bizform.vitalyun.com/classic/#/" target="_blank">範例站台</a></li>
                    </ul>
                </li>
                <li class="text-justify">
                    <img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon"/>適用情境
                    <ul style="list-style: none; margin-top: 12px;">
                        <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon two"/>
                            與Vital CRM 整合為例
                            <ul style="list-style: none; margin-top: 12px;">
                                <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon second"/>在BizForm透過引入客戶、公司、商機等欄位建立相關表單。</li>
                                <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon second"/>在CRM客戶、公司、商機中，建立具有格式化的表單，並自動帶入相關資料，並於CRM中顯示相關表單清單。</li>
                                <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon second"/>將帶有CRM客戶資料欄位的BizForm表單，填寫後，透過同步按鈕，將客戶資料新增或更新到Vital CRM中</li>
                                <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon second"/>會員問卷發送。</li>
                                <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon second"/>出差申請單，將出差記事附上表單中。</li>
                            </ul>
                        </li>
                        <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon two"/>
                            與其它系統整合情境
                            <ul style="list-style: none; margin-top: 12px;">
                                <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon second"/>原有系統需要啟動表單簽核，可以將資料帶入Vital Bizform，並於簽核通過後更新回系統中。</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="text-justify">
                    <img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon"/>課程
                </li>
                <li class="text-justify">
                    <img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon"/>
                    <a href="https://www.gsscloud.com/tw/vital-bizform/pricing" target="_blank">試用站台申請</a>
                </li>
                <li class="text-justify">
                    <img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon"/>API 文件
                </li>
            </ul>
        </div>
        <div class="item-text item-list">
            <h3>Secure Code Warrior</h3>
            <ul style="list-style: none;">
                <li class="text-justify">
                    <img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon"/>產品介紹
                    <ul style="list-style: none; margin-top: 12px;">
                        <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon two"/>
                            <a href="https://www.gss.com.tw/mssp/scw" target="_blank">產品特色</a></li>
                    </ul>
                </li>
                <li class="text-justify">
                    <img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon"/>適用情境
                    <ul style="list-style: none; margin-top: 12px;">
                        <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon two"/>
                            如果您的系統為資安相關，可以藉由SCW API 加值 "查詢教材"的功能：request(弱點CWE編號或名稱) / response(弱點影片 及 課程連結)
                        </li>
                    </ul>
                </li>
                <li class="text-justify">
                    <img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon"/>課程
                </li>
                <li class="text-justify">
                    <img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon"/>試用站台
                </li>
                <li class="text-justify">
                    <img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon"/>API 文件
                    <ul style="list-style: none; margin-top: 12px;">
                        <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon two"/>
                            <a href="https://integration-api.securecodewarrior.com/explorer/index.html" target="_blank">互動式API說明文件</a>
                        </li>
                        <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon two"/>
                            <a href="https://www.securecodewarrior.com/trust/scw-api-terms" target="_blank">API 使用條款</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </c-method>
</div>