<div class="background">
    <div class="container text-center">
        <img class="logo" alt="Hackathon 主視覺" src="assets/images/lp_innoserve_y24_hero.jpg">

        <section class="boxstyle">
            <c-method-n class="title" [icon]="'innoserve_29_description'" [methodSubject]="'參賽說明'">
                <p class="item-text">
                    以「<span class="highlight">智慧場域</span>」為發展概念<br>
                    團隊至少使用一項「叡揚」所提供的數位服務（ iota C.ai 對話服務平台、Vital CRM、Vital BizForm 或 Secure Code Warrior ），<br>
                    導入應用於校園、企業營運、城市、客服或醫療...等或其他特定場域，開發具有創意及「智慧化」的多元創新應用作品。
                </p>
            </c-method-n>
            <c-method-n class="title" [icon]="'innoserve_29_bonus'" [methodSubject]="'加分機制'">
                <p class="item-text">
                    若能透過 API 串接，整合多項「叡揚」的數位服務，
                    每整合一項服務（如下所列），可酌予加分（至多 5% ），
                    依此類推，若同時串接整合其他 3 項服務，至多可加 15%。
                </p>
            </c-method-n>
            <c-method-n class="title" [icon]="'innoserve_29_eligibility'" [methodSubject]="'報名資格'">
                <div class="item-text item-list">
                    <ol>
                        <li class="text-justify">凡大專校院（含大專生、碩博士生）之在學學生，以及高中高職（含五專一~三年級）都可參加。</li>
                        <li class="text-justify">每隊學生不超過 8 人，另需有 1-2 名學校指導老師。</li>
                    </ol>
                </div>
                <p class="item-text"><strong><a href="https://innoserve.tca.org.tw/RegistrationLogin.aspx" target="_blank" >參賽隊伍記得去官網報名喔</a><br/>競賽活動報名日期：8/1(四) 至 10/2(三)下午五點截止</strong></p>
            </c-method-n>
            <c-method-n class="title" [icon]="'innoserve_29_prize'" [methodSubject]="'獎勵方式'">
                <table style="margin-bottom: 36px;" class="default-table">
                    <thead>
                        <tr>
                            <th></th>
                            <th colspan="2">獎金</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th>獎項</th>
                            <th>得獎隊伍</th>
                            <th>指導老師群</th>
                            <th>數量</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>第一名</td>
                            <td>新臺幣 <span class="highlight">60,000</span> 元</td>
                            <td>新臺幣 <span class="highlight">30,000</span> 元</td>
                            <td class="text-right">1 名</td>
                        </tr>
                        <tr>
                            <td>第二名</td>
                            <td>新臺幣 <span class="highlight">40,000</span> 元</td>
                            <td>新臺幣 <span class="highlight">20,000</span> 元</td>
                            <td class="text-right">1 名</td>
                        </tr>
                        <tr>
                            <td>第三名</td>
                            <td>新臺幣 <span class="highlight">20,000</span> 元</td>
                            <td>新臺幣 <span class="highlight">10,000</span> 元</td>
                            <td class="text-right">1 名</td>
                        </tr>
                        <tr>
                            <td>創新應用獎</td>
                            <td>新臺幣 <span class="highlight">6,000</span> 元</td>
                            <td></td>
                            <td class="text-right">1 名</td>
                        </tr>
                        <tr>
                            <td>技術卓越獎</td>
                            <td>新臺幣 <span class="highlight">6,000</span> 元</td>
                            <td></td>
                            <td class="text-right">1 名</td>
                        </tr>
                        <tr>
                            <td>產品貢獻獎</td>
                            <td>新臺幣 <span class="highlight">6,000</span> 元</td>
                            <td></td>
                            <td class="text-right">1 名</td>
                        </tr>
                        <tr>
                            <td>台風穩健獎</td>
                            <td>新臺幣 <span class="highlight">2,000</span> 元</td>
                            <td></td>
                            <td class="text-right">1 名</td>
                        </tr>
                    </tbody>
                </table>
            </c-method-n>
            <c-method-n class="title" [icon]="'innoserve_29_note'" [methodSubject]="'注意事項'">
                <div class="item-text item-list">
                    <ol>
                        <li class="text-justify">每一獎項限頒發一組團隊，且不重複得獎。</li>
                        <li class="text-justify">未獲前 3 名之團隊，有機會以決賽評分項目之一的最高分，獲得其他相關獎項。</li>
                        <li class="text-justify">產品貢獻獎以有實質整合產品服務的團隊為主（例如：自行開發新的串接 API 串連產品），若無得從缺。</li>
                    </ol>
                </div>
            </c-method-n>
            <c-method-n class="title" [icon]="'innoserve_29_resources'" [methodSubject]="'相關資源'">
                <p class="item-text text-left">※ 開發問題諮詢提問表單 (<a
                    href="https://bizform.vitalyun.com/#/survey/ZGVwb3RJZD01NzU1YTc3OWM4OGE0OWRlOTk5Nzc2MDdlYmJmNzllYiZpZD0zMQ"
                    target="_blank">請點我</a>)</p>

                <div class="item-text text-left" style="margin-top: 0;">※ 統問統答時間：<br>
                    <div style="padding-left: 26px; position: relative;">
                        <div class="question-remark">解答請看統問統答的紀錄表單、錄影；不重複回答相同問題以保留時間給他人提問</div>
                        <span>113/7/12 ~ 113/9/27 每週五 下午 3:00 ~ 4:00 </span> <br> 
                        <span>
                            (<a href="https://reurl.cc/z1V5g7" target="_blank">Teams 會議室連結</a>、
                            <a href="https://docs.google.com/spreadsheets/d/1udrispiRi-4xYZ0xN7pt4I7wm1gyc_N--tUH8NChEnA/edit?usp=sharing" target="_blank">統問統答錄影</a>)
                        </span>
                    </div>
                </div>

                <p class="item-text small">
                    參賽隊伍有疑問，均線上公開諮詢，回覆給各組的答案也都公開透明，<br/>
                    避免私下指導資訊不對等，而有不公平的疑慮，以達公開、公平。
                </p>

                <div class="item-text item-list item-product">
                    <h3><img class="img-rwd" src="assets/images/logo_iota_c-ai.png" alt="iota C.ai logo" style="max-width: 320px"><span>（ Bot Builder ）</span></h3>
                    <ul style="list-style: none;">
                        <li class="text-justify">
                            <img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon" /><span class="title01">產品介紹</span>
                            <ul style="list-style: none; margin-top: 12px;">
                                <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png"
                                        class="item-list-icon two" />
                                    <a href="https://www.gss.com.tw/product-services-nav/enterprice-e-app/iota#feature"
                                        target="_blank">產品特色</a>
                                </li>
                                <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png"
                                        class="item-list-icon two" />
                                    <a href="https://www.gss.com.tw/product-services-nav/enterprice-e-app/iota#situation"
                                        target="_blank">參考使用情境</a>
                                </li>
                                <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png"
                                        class="item-list-icon two" />
                                    <a href="https://bizform.vitalyun.com/#/survey/ZGVwb3RJZD01NzU1YTc3OWM4OGE0OWRlOTk5Nzc2MDdlYmJmNzllYiZpZD0zMA"
                                        target="_blank">試用站台申請表單</a>
                                </li>
                            </ul>
                        </li>
                        <li class="text-justify">
                            <img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon" /><span class="title01">課程</span>

                            <table class="iota-table">
                                <thead>
                                    <tr>
                                        <th colspan="3">C.ai 教學</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>C.ai Webchat 教育訓練</td>
                                        <td><a href="https://gsscomtw-my.sharepoint.com/:p:/g/personal/scar_su_gss_com_tw/EfaT0MA6jj1MuwgPnONMj4UBw6Ggw60ODGlFEzB3WHpx0g"
                                                target="_blank">簡報</a></td>
                                        <td><a href="https://gsscomtw-my.sharepoint.com/:v:/g/personal/scar_su_gss_com_tw/EcuE7WK6dEtJh5aiUrcj-A0Bjm7Grcq3ZoXfKeRMFaanQg"
                                                target="_blank">影片</a></td>
                                    </tr>
                                    <tr>
                                        <td>C.ai LINE Bot 教育訓練</td>
                                        <td><a href="https://gsscomtw-my.sharepoint.com/:p:/g/personal/scar_su_gss_com_tw/EZ7t-n7QNvpFlZpYCjIOAKoBG_dt-CaXf320JomDq81upw"
                                                target="_blank">簡報</a></td>
                                        <td><a href="https://gsscomtw-my.sharepoint.com/:v:/g/personal/scar_su_gss_com_tw/EdxATr_Z76ZBsHlS4gGXv_UBGqLd_fNsvFH0TSaI8oJRWQ"
                                                target="_blank">影片</a></td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="iota-table">
                                <thead>
                                    <tr>
                                        <th colspan="3">NLU 教學</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>問答集教學 - 1</td>
                                        <td></td>
                                        <td><a href="https://gsscomtw-my.sharepoint.com/:v:/g/personal/scar_su_gss_com_tw/ERKEyB2RPr5NhZhs_IGHAtcB0ChI9X5HCZE4BLUkzpDmeQ"
                                                target="_blank">影片</a></td>
                                    </tr>
                                    <tr>
                                        <td>問答集教學 - 2</td>
                                        <td></td>
                                        <td><a href="https://gsscomtw-my.sharepoint.com/:v:/g/personal/scar_su_gss_com_tw/ETgwHYyhGvhFvy7G9wtbuLABs3KPZIfX6prsgYZ2Mc5YnA"
                                                target="_blank">影片</a></td>
                                    </tr>
                                    <tr>
                                        <td>問答集教學 - 3</td>
                                        <td></td>
                                        <td><a href="https://gsscomtw-my.sharepoint.com/:v:/g/personal/scar_su_gss_com_tw/EQfSFeErvz5Pj_s2bxyL090BOQuUHN0JuINyOvvJ5zSNmw"
                                                target="_blank">影片</a></td>

                                    </tr>
                                    <tr>
                                        <td>問答集教學 - 4</td>
                                        <td></td>
                                        <td><a href="https://gsscomtw-my.sharepoint.com/:v:/g/personal/scar_su_gss_com_tw/EYuP-z1XHSBCiR70mPxI-qcBO5a-0XhX8Y5WtU9DLYbXrw"
                                                target="_blank">影片</a></td>
                                    </tr>
                                    <tr>
                                        <td>問答集教學 - 5</td>
                                        <td></td>
                                        <td><a href="https://gsscomtw-my.sharepoint.com/:v:/g/personal/scar_su_gss_com_tw/EY6fkSlTLD1GqUatyIRcCGoBpn38A_VXw7530ksAMowV0A"
                                                target="_blank">影片</a></td>
                                    </tr>
                                    <tr>
                                        <td>問答集教學 - 6</td>
                                        <td></td>
                                        <td><a href="https://gsscomtw-my.sharepoint.com/:v:/g/personal/scar_su_gss_com_tw/ERaLuTAulfFLiaNKwanlPukBwiTGAlXpnLkmEmoRQOvOkg"
                                                target="_blank">影片</a></td>
                                    </tr>
                                    <tr>
                                        <td>問答集教材</td>
                                        <td><a href="https://gsscomtw-my.sharepoint.com/:p:/g/personal/scar_su_gss_com_tw/ETBpkSKOfE1OlDZyb771lz8BqeRmANX9idqpuXGdt5L6Hw"
                                                target="_blank">簡報</a></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                    </ul>
                </div>
                <div class="item-text item-list item-product">
                    <h3><img class="img-rwd" src="assets/images/logo_vital-crm.png" alt="Vital CRM logo" style="max-width: 320px"></h3>
                    <ul style="list-style: none;">
                        <li class="text-justify">
                            <img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon" /><span class="title01">產品介紹</span>
                            <ul style="list-style: none; margin-top: 12px;">
                                <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png"
                                        class="item-list-icon two" />
                                    <a href="https://www.gsscloud.com/tw/vital-crm#product-features"
                                        target="_blank">產品特色</a>
                                </li>
                                <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png"
                                        class="item-list-icon two" />
                                    <a href="https://www.gsscloud.com/tw/user-story?filter_22=s-vitalcrm&cc=p"
                                        target="_blank">參考使用情境</a>
                                </li>
                                <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png"
                                        class="item-list-icon two" />
                                    <a href="https://www.videgree.com/e8e204d9d1cb4854a27f985aba2f1491/LogOn.mvc?user=sa&pwd=123456"
                                        target="_blank">範例站台（含操作手冊 / 在友善協助裡）</a>
                                </li>
                            </ul>
                        </li>
                        <li class="text-justify">
                            <img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon" /><span class="title01">適用情境</span>
                            <ul style="list-style: none; margin-top: 12px;">
                                <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png"
                                        class="item-list-icon two" />
                                    與 Vital BizForm 整合為例
                                    <ul style="list-style: none; margin-top: 12px;">
                                        <li><img alt="項目圖案" src="assets/images/blue-outline-circle2.png"
                                                class="item-list-icon three" />發出客戶滿意度調查</li>
                                        <li><img alt="項目圖案" src="assets/images/blue-outline-circle2.png"
                                                class="item-list-icon three" />商機轉合約時，走簽核表單</li>
                                    </ul>
                                </li>
                                <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png"
                                        class="item-list-icon two" />
                                    與其它系統整合情境
                                    <ul style="list-style: none; margin-top: 12px;">
                                        <li><img alt="項目圖案" src="assets/images/blue-outline-circle2.png"
                                                class="item-list-icon three" />在特定條件下，啟動簽核表單</li>
                                        <li><img alt="項目圖案" src="assets/images/blue-outline-circle2.png"
                                                class="item-list-icon three" />寄送表單給特定對象，收集填寫結果</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="text-justify">
                            <img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon" />
                            <a href="https://www.gsscloud.com/tw/vital-crm/pricing" target="_blank">試用站台申請</a>
                        </li>
                        <li class="text-justify">
                            <img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon" /><span class="title01">API 文件</span>
                            <ul style="list-style: none; margin-top: 12px;">
                                <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png"
                                        class="item-list-icon two" />
                                    要先有試用站台，需要用 API 時要申請開通 API 模組
                                </li>
                                <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png"
                                        class="item-list-icon two" />
                                    API授權申請寄信到：<a href="mailto:innoserve@gss.com.tw">vital@gss.com.tw</a>
                                    <ul style="list-style: none; margin-top: 12px;">
                                        <li><img alt="項目圖案" src="assets/images/blue-outline-circle2.png"
                                                class="item-list-icon three" />主旨：CRM API授權申請（資訊應用服務創新競賽）
                                        </li>
                                        <li><img alt="項目圖案" src="assets/images/blue-outline-circle2.png"
                                                class="item-list-icon three" />內文：團隊名稱以及站台識別碼（請看統問統答問題7的敘述操作）
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="item-text item-list item-product">
                    <h3><img class="img-rwd" src="assets/images/logo_vital-bizform.png" alt="Vital BizForm logo" style="max-width: 400px"></h3>
                    <ul style="list-style: none;">
                        <li class="text-justify">
                            <img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon" /><span class="title01">產品介紹</span>
                            <ul style="list-style: none; margin-top: 12px;">
                                <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png"
                                        class="item-list-icon two" />
                                    <a href="https://www.gsscloud.com/tw/vital-bizform#product-features"
                                        target="_blank">產品特色</a>
                                </li>
                                <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png"
                                        class="item-list-icon two" />
                                    <a href="https://www.gsscloud.com/tw/user-story?filter_22=s-vitalbizform&cc=p"
                                        target="_blank">參考使用情境</a>
                                </li>
                                <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png"
                                        class="item-list-icon two" />
                                    <a href="https://bizform.vitalyun.com/classic/#/?trial=true&locale=zh"
                                        target="_blank">範例站台（含操作手冊 / 在友善協助裡）</a>
                                </li>
                            </ul>
                        </li>
                        <li class="text-justify">
                            <img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon" /><span class="title01">適用情境</span>
                            <ul style="list-style: none; margin-top: 12px;">
                                <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png"
                                        class="item-list-icon two" />
                                    一般可用於
                                    <ul style="list-style: none; margin-top: 12px;">
                                        <li><img alt="項目圖案" src="assets/images/blue-outline-circle2.png"
                                                class="item-list-icon three" />組織內部簽核行政使用
                                            <ul style="list-style: none; margin-top: 12px;">
                                                <li><img alt="項目圖案" src="assets/images/blue-outline-circle3.png"
                                                        class="item-list-icon four" />
                                                    例如：請款、請假、出差申請、員工基本資料填寫、報價單、商品資料、利潤分析、設備檢查表等。
                                                </li>
                                            </ul>
                                        </li>
                                        <li><img alt="項目圖案" src="assets/images/blue-outline-circle2.png"
                                                class="item-list-icon three" />亦可作為無帳號填寫或問卷使用
                                            <ul style="list-style: none; margin-top: 12px;">
                                                <li><img alt="項目圖案" src="assets/images/blue-outline-circle3.png"
                                                        class="item-list-icon four" />
                                                    例如：初診基本資料填寫、預約資料、聯繫表單、活動報名表、同意授權書、新人報到資料填寫。
                                                </li>
                                            </ul>
                                        </li>
                                        <li><img alt="項目圖案" src="assets/images/blue-outline-circle2.png"
                                                class="item-list-icon three" />在無帳號填寫上，更可以結合匯入對象資料，達成指定對象問卷填寫
                                            <ul style="list-style: none; margin-top: 12px;">
                                                <li><img alt="項目圖案" src="assets/images/blue-outline-circle3.png"
                                                        class="item-list-icon four" />
                                                    例如：親師聯繫用通知、VIP 問卷、活動滿意度問卷、VIP 資料授權確認書等。
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png"
                                        class="item-list-icon two" />
                                    與 Vital CRM 整合為例
                                    <ul style="list-style: none; margin-top: 12px;">
                                        <li><img alt="項目圖案" src="assets/images/blue-outline-circle2.png"
                                                class="item-list-icon three" />在 BizForm 透過引入客戶、公司、商機等欄位建立相關表單。</li>
                                        <li><img alt="項目圖案" src="assets/images/blue-outline-circle2.png"
                                                class="item-list-icon three" />在 CRM 客戶、公司、商機中，建立具有格式化的表單，並自動帶入相關資料，並於
                                            CRM 中顯示相關表單清單。</li>
                                        <li><img alt="項目圖案" src="assets/images/blue-outline-circle2.png"
                                                class="item-list-icon three" />將帶有 CRM 客戶資料欄位的 BizForm
                                            表單，填寫後，透過同步按鈕，將客戶資料新增或更新到 Vital CRM 中</li>
                                        <li><img alt="項目圖案" src="assets/images/blue-outline-circle2.png"
                                                class="item-list-icon three" />會員問卷發送。</li>
                                        <li><img alt="項目圖案" src="assets/images/blue-outline-circle2.png"
                                                class="item-list-icon three" />出差申請單，將出差記事附上表單中。</li>
                                    </ul>
                                </li>
                                <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png"
                                        class="item-list-icon two" />
                                    與其它系統整合情境
                                    <ul style="list-style: none; margin-top: 12px;">
                                        <li><img alt="項目圖案" src="assets/images/blue-outline-circle2.png"
                                                class="item-list-icon three" />原有系統需要啟動表單簽核，可以將資料帶入 Vital BizForm
                                            ，並於簽核通過後更新回系統中。</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="text-justify">
                            <img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon" />
                            <a href="https://www.gsscloud.com/tw/vital-bizform/pricing" target="_blank">試用站台申請</a>
                        </li>
                        <li class="text-justify">
                            <img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon" />
                            <a href="https://hackmd.io/@bizform/Bk8CmTQgR" target="_blank">API 文件</a>
                        </li>
                        <li class="text-justify">
                            <img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon" />
                            <a href="assets/files/BizForm API.postman_collection.json" download="BizForm API.postman_collection.json">Postman Collections 下載</a>
                        </li>
                    </ul>
                </div>
                <div class="item-text item-list item-product">
                    <h3><img class="img-rwd" src="assets/images/logo_secure-code-warrior.png" alt="Secure Code Warrior logo" style="max-width: 320px"></h3>
                    <ul style="list-style: none;">
                        <li class="text-justify">
                            <img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon" /><span class="title01">產品介紹</span>
                            <ul style="list-style: none; margin-top: 12px;">
                                <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png"
                                        class="item-list-icon two" />
                                    <a href="https://www.gss.com.tw/mssp/scw" target="_blank">產品特色</a>
                                </li>
                            </ul>
                        </li>
                        <li class="text-justify">
                            <img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon" /><span class="title01">適用情境</span>
                            <ul style="list-style: none; margin-top: 12px;">
                                <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png"
                                        class="item-list-icon two" />
                                    如果您的系統為資安相關，可以藉由 SCW Direct Linking API 加值 "查詢教材" 的功能： request （弱點 CWE 編號或名稱） / response （弱點影片 及
                                    課程連結）。
                                </li>
                                <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png"
                                        class="item-list-icon two" />
                                    如果您的系統為 SSDLC 相關，可以藉由 SCW API 檢驗同仁是否完成培訓、能力程度、...，實作 ISO 27001
                                    ：「要求開發者安全程式碼能力資格」的自動審核機制。
                                    <ul style="list-style: none; margin-top: 12px;">
                                        <li><img alt="項目圖案" src="assets/images/blue-outline-circle2.png"
                                                class="item-list-icon three" />使用 SCW API 需搭配 SCW 帳號，請發信至 <a href="mailto:innoserve@gss.com.tw">innoserve@gss.com.tw</a> 信箱申請。</li>
                                        <li><img alt="項目圖案" src="assets/images/blue-outline-circle2.png"
                                                class="item-list-icon three" />申請帳號後可登入：<a href="https://portal.securecodewarrior.com/" target="_blank">平台連結</a>，搭配 SCW API 使用。</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="text-justify">
                            <img alt="項目圖案" src="assets/images/blue-outline-circle.png" class="item-list-icon" /><span class="title01">API文件與操作指引</span>
                            <ul style="list-style: none; margin-top: 12px;">
                                <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png"
                                        class="item-list-icon two" />
                                    <a href="https://help.securecodewarrior.com/hc/en-us/articles/900005309583-Direct-Linking-API-Documentation"
                                        target="_blank">SCW Direct Linking API 操作指引</a>
                                </li>
                                <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png"
                                        class="item-list-icon two" />
                                    <a href="https://integration-api.securecodewarrior.com/explorer/index.html"
                                        target="_blank">SCW Direct Linking API 互動式說明文件</a>
                                </li>
                                <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png"
                                        class="item-list-icon two" />
                                    <a href="https://help.securecodewarrior.com/hc/en-us/articles/360036036512-How-to-enable-API-access"
                                        target="_blank">SCW API 操作指引</a>
                                </li>
                                <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png"
                                        class="item-list-icon two" />
                                    <a href="https://portal-api.securecodewarrior.com/api/explorer/v2/"
                                        target="_blank">SCW API 互動式說明文件</a>
                                </li>
                                <li><img alt="項目圖案" src="assets/images/blue-outline-circle.png"
                                        class="item-list-icon two" />
                                    <a href="https://www.securecodewarrior.com/trust/scw-api-terms" target="_blank">API
                                        使用條款</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </c-method-n>
        </section>
    </div>
</div>