<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-8 col-md-4 col-xl-3">
        <img alt="叡揚資訊 Logo" src="/assets/images/gss-logo.png" width="100%" />
      </div>
      <div class="col-11 col-md-8 col-xl-9">
        <p>
          叡揚資訊股份有限公司 AI Chatbot 黑客松籌備小組<br />
          聯絡我們 <a href="mailto:hackathon@gss.com.tw">hackathon@gss.com.tw</a><br />
          歷年網站 <a href="https://github.com/gss-hackathon2021/ActivityInfo/wiki" target="_blank">2021</a>
        </p>
      </div>
    </div>
  </div>
</div>
