@import '../../variables';

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
  background-color: black;
  color: white;

  img {
    margin-top: 1rem;
  }

  p {
    line-height: 1.5;
    text-align: right;
    @media (max-width: 768px) {
      text-align: left;
    }
  }
}

