@import '../../assets/scss/variables';

.footer {
  background: $footer-bg;
  color: $footer-color;
}

.container {
  padding: 40px 0;

  a {
    color: $footer-link-color;

    &:hover {
      color: $footer-link-color-hover;
    }
  }

  img {
    margin-top: 1rem;
  }

  p {
    line-height: $line-height;
    text-align: right;

    @media (max-width: 768px) {
      text-align: left;
    }
  }
}



