@import 'variables';

$body-bg: $white;
$body-color: $blue;
$body-color-highlight: $orange;

$cta-primary-bg: transparent;
$cta-primary-color: $blue;
$cta-primary-border-color: $blue;
$cta-primary-bg-hover: #91B3EB;
$cta-primary-color-hover: $white;

$table-bg-hover: $blue;
$table-color-hover: $white;
