/* You can add global styles to this file, and also import other style files */
$font-color: #FFFFFF;
$font-highlight-color: #FAFF0D;
$link-color: #FFFFFF;
$bg-color: #0B015A;
$button-color: #367DEF;
$button-hover-color: #91B3EB;
$hr-color: #367DEF;
