/* You can add global styles to this file, and also import other style files */
$font-color: #367DEF;
$font-highlight-color: #F9A825;
$link-color: #FFFFFF;
$bg-color: #FFFFFF;
$button-color: #367DEF;
$button-hover-color: #367DEF;
$hr-color: #367DEF;
