@import 'assets/scss/variables';
@import 'assets/scss/utilities';

html, body {
  font-family: $font-base-family;
  font-size: $font-base-size;
  margin: 0;
  padding: 0;
}

button {
  font-family: $font-base-family;
}

h2 {
  font-size: 2rem;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: 576px) {
  .container-fluid, .container {
    width: 95% !important;
    padding-right: 2% !important;
    padding-left: 2% !important;
  }
}
