<img class="hero" alt="Hackathon 主視覺" src="/assets/images/hero.png">
<p>&nbsp;</p>
<button [ngClass]="{'cta_button': true, 'disable': !isOpenSignUp}">{{ callToActionText }}</button>
<p>&nbsp;</p>
<hr />
<h2 class="item-title"><img alt="項目圖案" src="/assets/images/miru.png" />競賽內容</h2>
<p class="item-text">
  運用叡揚資訊開發的 <span class="highlight">C.ai 對話服務平台</span> 及相關技術開發 Chatbot<br />題目不均，惟發佈平台限制為 WebChat, LINE 以及 Microsoft
  Teams
</p>
<h2 class="item-title"><img alt="項目圖案" src="/assets/images/miru.png" />參賽對象</h2>
<p class="item-text">
  <span class="bigger">大學或研究所在校學生</span><br />
  <br />
  不論是不是資訊相關科系，只要你有點子，都歡迎你來參加！！
</p>
<h2 class="item-title"><img alt="項目圖案" src="/assets/images/miru.png" />報名方式</h2>
<p class="item-text">
  於 <span class="highlight">本網站報名</span> ，每組需至少兩名成員（包含隊長）
</p>
<h2 class="item-title"><img alt="項目圖案" src="/assets/images/miru.png" />重要時程</h2>
<p>&nbsp;</p>
<h2 class="item-title"><img alt="項目圖案" src="/assets/images/miru.png" />競賽獎項</h2>
<p>&nbsp;</p>
<h2 class="item-title"><img alt="項目圖案" src="/assets/images/miru.png" />注意事項</h2>
<ol class="item-text">
  <li class="text-left">報名活動時請確實填寫聯絡資訊，若因資料不全導致參賽者未能收到主辦單位通知事項，主辦單位概不負責。</li>
  <li class="text-left">活動辦法若有未盡事宜，主辦單位擁有保留、修改、刪除、解釋本辦法之權力。</li>
</ol>
<hr />
<p>&nbsp;</p>
<button [ngClass]="{'cta_button': true, 'disable': !isOpenSignUp}">{{ callToActionText }}</button>
<p>&nbsp;</p>
