@import '../../variables';

.cta_button {
  width: 512px;
  height: 90px;
  border-radius: 20px;
  border: 0px;
  font-size: 1.8rem;
  cursor: pointer;
  color: $font-color;
  background: $button-color;

  &:hover {
    background: $button-hover-color;
  }

  &.disable {
    cursor: not-allowed;

    &:hover {
      background: $button-color;
    }
  }

  @media (max-width: 768px) {
    width: 400px;
    height: 70px;
    font-size: 1.6rem;
  }

  @media (max-width: 576px) {
    width: 70%;
    height: 55px;
    font-size: 1.4rem;
  }
}

hr {
  color: $hr-color;
}
