@import '../../variables';

.cta_button {
  width: 512px;
  height: 90px;
  border-radius: 20px;
  border: 0px;
  font-size: 1.8rem;
  cursor: pointer;
  color: $font-color;
  background: $button-color;

  &:hover {
    background: $button-hover-color;
  }

  &.disable {
    cursor: not-allowed;

    &:hover {
      background: $button-color;
    }
  }
}

hr {
  color: $hr-color;
}
